html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Main */

.main-wrap {
    flex: 1 0 auto;
}

/* Report */

.report h2 {
    cursor: pointer;
}

.hide {
    display: none;
}

/* About */

.about img {
    width: 10em;
}

/* Footer */

.footer {
    flex-shrink: 0;
}

.footer a {
    color: black;
}
